%p#notice= notice

%p
  %b Project:
  = @work.project_id
%p
  %b User:
  = @work.user_id
%p
  %b Datetimeperformed:
  = @work.datetimeperformed
%p
  %b Hours:
  = @work.hours

= link_to 'Edit', edit_work_path(@work)
\|
= link_to 'Back', works_path
