- if @project.errors.any?
  #error_explanation
    %h2= "Please correct the following #{pluralize(@project.errors.count, "error")}:"
    %ul
      - @project.errors.full_messages.each do |msg|
        %li= msg

= form_for @project do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :default_rate
    = f.number_field :default_rate
  .field
    = f.label :company_id
    = f.collection_select(:company_id, Company.all, :id, :name, prompt: true)
  .actions
    = f.submit 'Create Project'
