%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Company:
  = @project.company_id
%p
  %b Default rate:
  = @project.default_rate

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
