%h1= @project.name

%p= link_to 'Edit Project', edit_project_path(@project)

%p= "Company: #{@project.company.name}"
%p= "Default Rate: #{@project.default_rate}"
%p= "Slug: #{@project.slug}"
%p= "Owner: #{@project.owner}"

.remoteform
  %h2 Add Work
  = render partial: 'works/form', locals: { doajax: true }

- if @project.works.size > 0
  %table
    %tbody
      %tr.headrow
        %th View
        %th User
        %th Project
        %th Date/Time
        %th Hours
      = render partial: "works/work", collection: @project.works
- else
  No works.
