%h1= @company.name

%p= link_to 'Edit Company', edit_company_path(@company)

- if @company.projects.size > 0
  %table
    %tbody
      %tr
        %th Project
        %th Company
      = render partial: 'projects/project', collection: @company.projects
- else
  No projects      

= content_for :aside do
  = render 'sidebar'