!!!
%html
  %head
    %meta{:content=>'text/html; charset=UTF-8',:'http-equiv'=>'Content-Type'}/
  %body
    %h1 Project Updated
    %p 
      Name: #{@project.name}
      %br/
      Slug: #{@project.slug}
      %br/
      Default Rate: #{@project.default_rate}
      %br/ 
      Company: #{@project.company}
      %br/
      User: #{@project.user}
      %br/ 
      Changed at:  #{@project.updated_at.strftime("%m/%d/%Y %I:%M %p")}