!!! 5
%html
  %head
    %title Timetracker
    %meta{:name =>"viewport", :content=>"width=devise-width, initial-scale=1"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #container
      %header
        = link_to content_tag('canvas', 'Time Tracker', id: 'logocanvas'), root_path
        = content_tag('canvas', 'Clock', id: 'clock', width: "300", height: "300")
        %nav
          %ul
            - nav_items.each do |nav_item|
              = display_nav_item(nav_item[:controllername], nav_item[:displaytext], nav_item[:linkurl])
      %section#main
        %article
          %p#notice= notice
          = yield
        %aside
          = yield :aside
      %footer
        Time Tracker is a <em>Sample Company</em> App
